.button_tab {
    height: 80px;
    width: 400px;
    background-image: none;
    -unity-background-image-tint-color: rgba(255, 255, 255, 0.12);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-left-color: rgba(99, 0, 255, 0.24);
    border-right-color: rgba(99, 0, 255, 0.24);
    border-top-color: rgba(99, 0, 255, 0.24);
    border-bottom-color: rgba(99, 0, 255, 0.24);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    font-size: 36px;
    color: rgb(255, 255, 255);
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    background-color: rgba(255, 255, 255, 0);
    -unity-font-definition: url("project://database/Assets/TriLauAsset/Fonts/neuropol/Neuropol.otf?fileID=12800000&guid=e1d32f9b6ca28ba498d1e0c6542e1938&type=3#Neuropol");
    align-self: center;
    justify-content: center;
}

.button_tab:hover {
    scale: 1.5 1.5;
}

.button_tab:select {
    scale: 1.5 1.5;
}
