:root {
}

.sigilStorage_style {
    position: absolute;
    height: 900px;
    top: 106px;
    left: auto;
    right: 1681px;
    justify-content: flex-start;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.sigilStorage_hind {
    transform-origin: center;
    translate: -261px 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
    height: 900px;
    width: 830px;
}

.buttonConstraint_style {
    flex-grow: 1;
    position: absolute;
    height: 956px;
    width: 278px;
    left: 1634px;
    top: 76px;
    align-items: center;
    justify-content: center;
    align-self: center;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.buttonConstraint_hind {
    translate: 309px 0;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.sigilButton_style {
    background-image: url('project://database/Assets/TriLauAsset/Textures/UI/HUDBoard/Border3.png?fileID=2800000&guid=ec295563632357e43ad5b1025f0ba6df&type=3#Border3');
    background-color: rgba(255, 255, 255, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 280px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
}

.sigilButton_style:hover {
    background-image: url('project://database/Assets/TriLauAsset/Textures/UI/HUDBoard/Border3.png?fileID=2800000&guid=ec295563632357e43ad5b1025f0ba6df&type=3#Border3');
    background-color: rgba(255, 255, 255, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 280px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    scale: 1.1 1.1;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.sigilButton_style:active {
    background-image: url('project://database/Assets/TriLauAsset/Textures/UI/HUDBoard/Border3.png?fileID=2800000&guid=ec295563632357e43ad5b1025f0ba6df&type=3#Border3');
    background-color: rgba(255, 255, 255, 0);
    border-top-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    border-left-width: 0;
    width: 280px;
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 30px;
    scale: 1.1 1.1;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.sigilBoard_style {
    position: absolute;
    top: 120px;
    left: 300px;
    right: 300px;
    bottom: 100px;
    width: 1300px;
    height: 800px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.sigilBoard_style_hidden {
    transform-origin: center;
    translate: 0 1000px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.sigilStorage_showall {
    background-image: none;
    width: 830px;
    top: 93px;
    right: 1671px;
    translate: 592px 0;
    height: 900px;
    transition-timing-function: ease-in-out;
    transition-duration: 0.4s;
}

.defaultBtn_style {
    flex-grow: 1;
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-position-x: center;
    justify-content: space-between;
    align-items: center;
    translate: 0 0;
    position: absolute;
    top: auto;
    left: auto;
    height: 100%;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.defaultBtn_style_hidden {
    translate: 0 120px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.sigilBtn_style {
    flex-grow: 1;
    width: 100%;
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    background-position-x: center;
    justify-content: space-between;
    align-items: center;
    translate: 0 0;
    position: absolute;
    top: auto;
    left: auto;
    height: 100%;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}

.sigilBtn_style_hidden {
    translate: 0 120px;
    transition-duration: 0.4s;
    transition-timing-function: ease-in-out;
}
