:root {
}

.settingPanelUss {
    flex-grow: 1;
    justify-content: flex-start;
    align-items: stretch;
    align-self: auto;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}

.settingPanelMoveUp {
    position: absolute;
    width: 1920px;
    height: 1080px;
    top: 100%;
    left: 0;
    right: 0;
    bottom: 0;
    transition-timing-function: ease-in-out;
    transition-duration: 1s;
}
